@model NumberGuessingGame.ViewModels.GuessViewModel
@using MvcFlash.Core.Extensions;

@{
    ViewBag.Title = "Guess"; 
}

<div>
    @Html.Flash()
</div>


<div class="jumbotron">
    @if (Model.SecretNumber.CanMakeGuess) {
    <h2>Make your @Model.Counts[Model.SecretNumber.Count] guess</h2>
    }
    else
    {
    <h2>Finished in @Model.SecretNumber.Count guesses</h2>   
    }
    <div class="guesses">
        @if (Model.SecretNumber.Count != 0)
        {
           
            foreach (var guess in Model.SecretNumber.GuessedNumbers)
            {
                
                var label = "danger";
                var glyphicon = "arrow-down";
                if (guess.Outcome.ToString() == "Low")
                {
                    glyphicon = "arrow-up";
                }
                else if (guess.Outcome.ToString() == "Right")
                {
                    label = "success";
                    glyphicon = "ok";
                }
                
               <span class="guesses label label-@label">
                    @guess.Number <span class="glyphicon glyphicon-@glyphicon"></span> 
                </span>
            }
        }
    </div>
    
    @if (Model.SecretNumber.CanMakeGuess) { 
        using (Html.BeginForm("Guess", "SecretNumber", FormMethod.Post, new { @class = "guess" }))
        {

            <div class="input-group">

                @Html.TextBoxFor(m => m.Guess, null, new { @class = "form-control input-lg", @Value = "" })

    
                <span class="input-group-btn ">
                    <button class="btn btn-lg btn-success" type="submit" >Guess!</button>
                </span>

            </div><!-- /input-group -->
        }
    }
    else if (Model.SecretNumber.LastGuessedNumber.Outcome.ToString() == "Right")
    {
        <div class="alert alert-success">
            <p><strong>Congratulations!</strong> You found the correct number!</p>
            <a href="/SecretNumber/Game" class="btn btn-default btn-lg" role="button">Try again</a>
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <p><strong>Sorry!</strong> The correct number was @Model.SecretNumber.Number</p>
            <a href="/SecretNumber/Game" class="btn btn-default btn-lg" role="button">Try again</a>
        </div>
    }
    


</div>
