<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Guess the secret number</h3>
        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
    $.validator.setDefaults({
        highlight: function (element, errorClass, validClass) {
            $(element).closest(".input-group").addClass("has-error").find(".btn:first").attr("disabled", "disabled")
            console.log($(element).closest(".input-group").first(".btn"))
        },
        unhighlight: function (element, errorClass, validClass) {
            console.log("unhighlight")
            $(element).closest(".input-group")
            .removeClass("has-error").find(".btn:first").removeAttr("disabled");
           
        }
    });
    </script>
</body>
</html>
